*{
    font-family: 'Titillium Web', sans-serif;
    color: black;
    scroll-behavior: smooth;
    padding: 0;    
    margin: 0;
    box-sizing: border-box;
}

#TK {
    font-weight: strong;
    font-family: 'Titillium Web';
    font-size: 10px;
}

#navbarStyle {
    background-color: #f4f0ec;
    max-width: 1200px 
}

.nav-container {
    background-color: #f4f0ec;  
}


.parallax {
  
  background-image: url("https://images.pexels.com/photos/300857/pexels-photo-300857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-height: 550px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centertxt {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.success {
    font-size: 60px;
    align-items: right;
    font-weight: bold;
}

.aboutdiv {
        min-height:450px;
    }

.aboutMe {
    font-size: 14px;
}

.projdiv {
    min-height: 500px;
    background-color: #90e0ef;
    border-radius: 10px solid black;
}

.btn {
    color: white;
 }


.cards {
    background-color: #EEEEEE;
    display: flex;
}
.image {
    height: 275px;
}

.tooldiv {
    min-height: 500px;
}

.contactdiv {
    min-height: 600px;
    max-height: 1200px;
    background-color: #90e0ef;
}
.core_tools {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

#gmap_canvas {    
    height: 38vh;
    width: 100%;
}

.fa-icons {
    min-width: 30px;
    height: 10px;
}

#contact {
    font-size: 15px;
}

#foot {
    background-color: #0077b6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px; 
}