*{
    font-family: pt serif;, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;    
}


.row {
    background-color: white;
}

.row .row>div {
    border:solid 1px black;
    min-height:150px;
}

@media (min-width:768px) {
    .zero-div {
        height:250px;
    }
    .one-div {
        height:650px;
    }
    
    .two-div {
        height: 850px;
    }
    .three-div {
        height: 850px;
    }

}
